{% extends "base.html.twig" %}

{% block body %}

    <p>Login Form</p>

    <form action="" method="post">
        <label for="username">Username</label> <br>
        <input type="text" name="username"> <br>
        <label for="password">Password</label> <br>
        <input type="password" name="password"> <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}