{% extends "base.html.twig" %}

{% block body %}

    <p>Register Form</p>

    <form action="/user/register" method="post">
        <label for="username">Username</label> <br>
        <input type="text" name="username" value="{% if request.username is defined %}{{ request.username }}{% endif %}"> <br>
        <label for="email">Email</label> <br>
        <input type="text" name="email" value="{% if request.email is defined %}{{ request.email }}{% endif %}"> <br>
        <label for="password">Password</label> <br>
        <input type="password" name="password" value="{% if request.password is defined %}{{ request.password }}{% endif %}"> <br>
        <label for="repeatPassword">Repeat Password</label> <br>
        <input type="password" name="repeatPassword" value="{% if request.repeatPassword is defined %}{{ request.repeatPassword }}{% endif %}"> <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}