{% extends "base.html.twig" %}

{% block body %}

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.enabled }}</td>
            <td>
                <a href="/user/edit/{{ user.id }}">Edit</a> |
                <a href="/user/remove/{{ user.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}