{% extends "base.html.twig" %}

{% block body %}

    <p>Edit User</p>

    <form action="/user/edit/{{ user.id }}" method="post">
        <label for="username">Username</label> <br>
        <input type="text" name="username" value="{{ user.username }}"> <br>
        <label for="email">Email</label> <br>
        <input type="text" name="email" value="{{ user.email }}"> <br>
        <label for="password">Password</label> <br>
        <input type="password" name="password"  value="{{ user.password }}"> <br>
        <label for="repeatPassword">Repeat Password</label> <br>
        <input type="password" name="repeatPassword" value="{{ user.repeatPassword }}"> <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}