<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>TEST</title>

    </head>

    <body>
        <a href="/">Home</a> |

        {% if sessionUser is defined %}
            <a href="/user/list">Users</a> |
            <a href="/user/logout">Logout</a>
        {% else %}

            <a href="/user/login">Login</a> |
            <a href="/user/register">Register</a>

        {% endif %}

        <div style="color: red">
            {% if errors %}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>